// colors
$primary-color: rgba(254, 44, 85, 1);
$dark-color: rgba(22, 24, 35, 1);
$light-color: rgba(255, 255, 255, 1);
$light-secondary-color: rgba(255, 255, 255, 0.7);
$blue-color: rgba(32, 213, 236, 1);

// padding
$base-padding: 1rem;

// margin
$base-margin: 1rem;

// font size
$base-font: 1rem;
$font-sm: $base-font * 0.5;
$font-md: $base-font * 1;
$font-lg: $base-font * 1.5;
$font-xl: $base-font * 2;
